---
import Head from "@components/Head.astro";
import { ClientRouter, fade, slide } from "astro:transitions";
import NavBar from "@components/NavBar";

const user = JSON.parse(Astro.cookies.get("user")?.value || "{}");
---

<!doctype html>
<html lang="es">
	<head>
		<Head />
		<ClientRouter />
	</head>
	<body>
		<NavBar client:only="react" user={user}   />
		<slot/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
